<!DOCTYPE html>
<html>
	<head>
		<title>角色列表</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../../static/sa.css">
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../../static/sa.js"></script>
	</head>
	<body>
		<div class="vue-box" style="display: none;" :style="'display: block;'">
			<div class="c-panel">
				<!-- 参数栏 -->
				<div class="c-title">检索参数</div>
				<el-form :inline="true" size="mini" @submit.native.prevent>
					<div class="c-item">
						<label class="c-label">角色名称：</label>
						<el-input size="mini" v-model="p.findrolename"></el-input>
					</div>
					<div class="c-item" style="min-width: 0px;">
						<el-button size="mini" type="primary" icon="el-icon-search" @click="findByname()">查询</el-button>
						<el-button size="mini" type="primary" icon="el-icon-plus" @click="handleadd()">新增</el-button>
					</div>
				</el-form>
				<!-- 数据列表 -->
				<el-table class="data-table" ref="data-table" :data="dataList.slice((pageNo-1)*pageSize,pageNo*pageSize)" size="small">
					<el-table-column label="编号" prop="roleId" width="70px" > </el-table-column>
					<el-table-column label="角色名称">
						<template slot-scope="s">
							<el-input v-if="s.row.is_update" size="mini" v-model="s.row.rolename"></el-input>
							<span v-else>{{s.row.rolename}}</span>
						</template>
					</el-table-column>
					<el-table-column label="责任描述">
						<template slot-scope="s">
							<el-input v-if="s.row.is_update" size="mini" v-model="s.row.info"></el-input>
							<span v-else>{{s.row.info}}</span>
						</template>
					</el-table-column>


					<el-table-column label="操作" width="220px">
						<template slot-scope="s">
<!--							<el-button type="text" size="mini" @click="update(s.row)">-->
<!--								<span :style="s.row.is_update ? 'color: red;' : ''">修改</span>-->
<!--							</el-button>-->
							<el-button type="text" size="mini" @click="del(s.row)">删除</el-button>
							<el-button type="text" size="mini" @click="menu_setup(s.row)">分配权限</el-button>
						</template>
					</el-table-column>
				</el-table>


				<!-- 添加 -->
				<el-dialog title="角色添加" :visible.sync="addVisible" width="30%">
					<el-form  name="temp" id="temp" ref="temp"  :model="temp" label-width="100px">

						<el-form-item label="角色ID">
							<el-input  id="addroleId" name="addroleId" v-model="temp.roleId" oninput="value=value.replace(/^\.+|[^\d.]/g,'')" placeholder="请输入角色ID" size="mini"/>
						</el-form-item>

						<el-form-item label="角色名称">
							<el-input  id="addname" name="addname" v-model="temp.rolename"  placeholder="请输入角色名称" size="mini" />
						</el-form-item>

						<el-form-item label="角色描述">
							<el-input type="textarea" :rows="2" id="addinfo" name="addinfo" placeholder="请输入角色描述" v-model="temp.info">
							</el-input>
						</el-form-item>
					</el-form>

					<span slot="footer" class="dialog-footer">
            			<el-button  @click="addVisible = false">取 消</el-button>
            			<el-button type="primary" @click="add()">确 定</el-button>
          			</span>
				</el-dialog>


				<!-- ------------- 分页 ------------- -->
				<div class="page-box">
					<el-pagination background
						layout="total, prev, pager, next, sizes, jumper"
						:current-page.sync="pageNo"
						:page-size.sync="pageSize"
						:total="dataCount"
						:page-sizes="[1, 5, 10]"
						@current-change="handleCurrentChange"
						@size-change="handleSizeChange">
					</el-pagination>
				</div>
			</div>
		</div>
		<script src="role-list.js"></script>
	</body>
</html>