<!DOCTYPE html>
<html>
<head>
    <title>缺陷跟踪统计</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 所有的 css & js 资源 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../../static/sa.css">
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
    <script src="../../../static/sa.js"></script>
    <style type="text/css">
        .echarts-div {height:70vh;}
    </style>
</head>
<body>
<div class="vue-box"  :style="'display: block;'">
    <!-- 数据栏 -->
    <div style="display: flex; margin-top: -1em;">
        <div style="padding: 2em; flex: 4; margin-right: 0;">
            <div class="c-title" style="margin-bottom: 50px;">缺陷跟踪折线图</div>
            <div class="echarts-div" id='e-bugfollow'></div>
        </div>
    </div>
    <div style="display: flex; margin-top: -1em;">
        <div style="padding: 2em; flex: 4; margin-right: 0;">
            <div class="c-title" style="margin-bottom: 50px;">缺陷跟踪累计折线图</div>
            <div class="echarts-div" id='e-bugfollowlj'></div>
        </div>
    </div>
    <div style="clear: both;"></div>

</div>
<script src="https://unpkg.com/echarts@4.6.0/dist/echarts-en.min.js"></script>
<script src="followbug.js"></script>
</body>
</html>
