<!DOCTYPE html>
<html>
<head>
    <title>个人信息修改</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- 所有的 css & js 资源 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
    <script src="../../../static/sa.js"></script>
</head>
<body>
<div class="vue-box" style="display: none;" :style="'display: block;'">
    <!-- 参数栏 -->
    <div class="c-panel">
        <div class="c-title">个人信息修改</div>
        <el-form  name="userinfo" id="userinfo" ref="userinfo"  :model="userinfo" label-width="100px">
            <el-form-item label="用户名">
                <el-input :disabled=true id="username" v-model="userinfo.username"  :style="{width: '50%'}" placeholder="请输入姓名" clearable >
                </el-input>
            </el-form-item>
            <el-form-item label="密码" v-if="isupdatepassword">
                <el-input id="password" type="password" :style="{width: '50%'}" v-model="userinfo.password" placeholder="请输入密码" clearable >
                </el-input>
            </el-form-item>
            <el-form-item label="确认密码" v-if="isupdatepassword">
                <el-input id="checkpassword" type="password" :style="{width: '50%'}" v-model="userinfo.checkpassword" placeholder="确认密码" clearable >
                </el-input>
            </el-form-item>

            <el-form-item label="姓名">
                <el-input :disabled=true id="name" v-model="userinfo.name" :style="{width: '50%'}" placeholder="请输入姓名" clearable >
                </el-input>
            </el-form-item>

            <el-form-item label="性别" >
                <el-select :disabled=true id="sex" v-model="userinfo.sex"  :style="{width: '50%'}" placeholder="请选择性别"  >
                    <el-option v-for="item in sexoption"   :key="item.value" :label="item.label" :value="item.value" >
                    </el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="年龄">
                <el-input id="age" v-model="userinfo.age" :style="{width: '50%'}" placeholder="请输入年龄" clearable >
                </el-input>
            </el-form-item>

            <el-form-item label="电话号码" >
                <el-input id="number" v-model="userinfo.number" :style="{width: '50%'}" placeholder="请输入电话号码" clearable >
                </el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input id="remarks" type="textarea"  :style="{width: '50%'}" v-model="userinfo.remarks" :rows="2" id="remarks"  placeholder="请输入备注" >
                </el-input>
            </el-form-item>
            <el-form-item >
                <el-button type="primary" @click="isupdatepassword=!isupdatepassword;userinfo.password=''">
                    <div v-if="!isupdatepassword">
                        我还要修改密码
                    </div>
                    <div v-if="isupdatepassword">
                        我不用修改密码
                    </div>
                </el-button>
                <el-button type="primary" @click="loginuserupdate()">确 定</el-button>
            </el-form-item>
        </el-form>


    </div>
</div>
<script type="text/javascript">
    new Vue({
        el: '.vue-box',
        data: {
            userinfo: {
                username: '',
                password: '',
                checkpassword: '',
                name:'',
                number: '',
                sex:'',
                age:'',
                roleId:'',
                remarks:'',
                userstatus:1,
            },
            isupdatepassword:false,
            roleoption:[],

            sexoption:[{
                value: '男',
                label: '男'
            }, {
                value: '女',
                label: '女'
            }],
        },
        methods: {
            getloginuserinfo:function(){
                var that=this;
                $.ajax({
                    type: 'POST',
                    url: '/user/getloginuserinfo',
                    data: {},
                    success: function(res){
                        that.userinfo = res.loginuser;
                        that.userinfo.password='';
                    },
                    error: function(){
                        layer.alert('获取信息失败', {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,anim: 4
                        });
                    }
                });
            },

            getupdateroleoption:function(){
                var that=this;
                $.ajax({
                    type: 'POST',
                    url: '/role/getupdateroleoption',
                    data: {},
                    success: function(res){
                        that.roleoption = res.dataList;
                        console.log("roleoption:"+res.dataList.toString());
                    },
                    error: function(){
                        layer.alert('获取角色失败', {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,anim: 4
                        });
                    }
                });
            },
            submitCheck: function() {
                if (this.isupdatepassword){
                    if(userinfo.password.value==""){
                        layer.tips('请输入密码',$("#password"));
                        userinfo.password.focus();
                        return 'false';
                    }else if (userinfo.password.value != userinfo.checkpassword.value){
                        layer.tips('两次密码输入不一致',$("#checkpassword"));
                        userinfo.checkpassword.focus();
                        return 'false';
                    }
                }
               if(userinfo.number.value==""){
                    layer.tips('请输入电话号码',$("#number"));
                    userinfo.number.focus();
                    return 'false';
                }else if(userinfo.age.value==""){
                    layer.tips('请输入年龄',$("#age"));
                    userinfo.age.focus();
                    return 'false';
                }else{
                   console.log("ok")
                    return 'ok';
                }

            },
            loginuserupdate: function() {
                var that=this;
                if(this.submitCheck() != 'ok') {
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/user/loginuserupdate',
                    data: {
                        password:that.userinfo.password,
                        number:that.userinfo.number,
                        age:that.userinfo.age,
                        remarks:that.userinfo.remarks,
                    },
                    success: function(res){
                        if(res.flag=='equals'){
                            sa.alert('修改后的密码不能与原密码相同，请重新输入')
                            return
                        }
                        if(res.flag=='passwordupdated'){
                            sa.confirm("你已修改密码，请重新登录",function(){
                                location.href = "login.html";
                            })
                        }else{
                            sa.alert('修改成功')
                        }

                    },
                    error: function(){
                        layer.alert('修改失败', {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,anim: 4
                        });
                    }
                });

            },

        },
        created: function(){
            this.getupdateroleoption();
            this.getloginuserinfo();
        }

    })
</script>
</body>
</html>
