<!DOCTYPE html>
<html>
<head>
	<title>用户列表</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 所有的 css & js 资源 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="../../../static/sa.css">
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
	<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
	<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
	<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
	<script src="../../../static/sa.js"></script>
</head>
<body>
<div class="vue-box" style="display: none;" :style="'display: block;'">
	<div class="c-panel">
		<!-- ------------- 检索参数 ------------- -->
		<div class="c-title">项目列表</div>
		<el-form>
			<div class="c-item">
				<label class="c-label">项目名称：</label>
				<el-input size="mini" v-model="p.moudlename" placeholder="请输入项目名称"></el-input>
			</div>

			<div class="c-item" style="min-width: 0px;">
				<el-button size="mini" type="primary" icon="el-icon-search" @click="pageNo = 1; findBymoudlename()">查询</el-button>
			</div>
			<br />

		</el-form>
		<!-- ------------- 快捷按钮 ------------- -->
		<div class="fast-btn">
			<el-button size="mini" type="primary" icon="el-icon-plus" @click="handaddproject()">新增</el-button>
			<el-button size="mini" type="info"  icon="el-icon-refresh"  @click="sa.f5()">重置</el-button>
		</div>
		<!-- ------------- 数据列表 ------------- -->
		<el-table class="data-table" ref="data-table" :data="dataList.slice((pageNo-1)*pageSize,pageNo*pageSize)" style="width: 100%;margin-bottom: 20px;"
				  row-key="moudleid"
				  border
				  @expand-change="expandclick()"
				  :tree-props="{children: 'children', hasChildren: 'hasChildren'}"size="small" >
			<el-table-column label="项目ID" prop="moudleid" > </el-table-column>
			<el-table-column label="项目名称" prop="moudlename" ></el-table-column>
			<el-table-column label="负责人" prop="name"></el-table-column>
			<el-table-column label="创建日期" prop="moudleopentime"  sortable></el-table-column>
			<el-table-column label="项目状态" prop="moudlestatus" sortable>
				<template slot-scope="scope">
					<span  v-if="scope.row.moudlestatus=='1'">进行中</span>
					<span  v-if="scope.row.moudlestatus=='2'">已结束</span>
				</template>
			</el-table-column>

			<el-table-column  label="操作">
				<template slot-scope="s">
					<el-button class="c-btn" type="success"  icon="el-icon-edit" @click="handupdatemoudle(s.row)">修改</el-button>
					<el-button v-show=" s.row.type == 'project'" class="c-btn" type="primary" icon="el-icon-edit" @click="handaddmoudle(s.row)">添加模块</el-button>
					<el-button class="c-btn" type="danger" icon="el-icon-delete" @click="delbyid(s.row)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>

		<!-- 添加项目 -->
		<el-dialog title="添加项目" :visible.sync="addprojectVisible" width="40%">
			<el-form  name="addmoudleinfo" id="addmoudleinfo" ref="addmoudleinfo"  :model="addmoudleinfo" label-width="100px">
				</el-form-item>
				<el-form-item label="项目名称">
					<el-input v-model="addmoudleinfo.moudlename" placeholder="请输入项目名称" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>

				<el-form-item label="负责人" >
					<el-input v-model="addmoudleinfo.moudlechargename" placeholder="请输入负责人姓名" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
            			<el-button  @click="addprojectVisible = false">取 消</el-button>
						<el-button class="c-btn"  @click="addmoudle()">确 定</el-button>

          			</span>
		</el-dialog>

		<!-- 添加模块 -->
		<el-dialog title="添加模块" :visible.sync="addmoudleVisible" width="40%">
		<el-form  name="addmoudleinfo" id="addmoudleinfo" ref="addmoudleinfo"  :model="addmoudleinfo" label-width="100px">
			</el-form-item>
			<el-form-item label="模块名称">
				<el-input v-model="addmoudleinfo.moudlename" placeholder="请输入模块名称" clearable :style="{width: '100%'}">
				</el-input>
			</el-form-item>

			<el-form-item label="负责人" >
				<el-input v-model="addmoudleinfo.moudlechargename" placeholder="请输入负责人姓名" clearable :style="{width: '100%'}">
				</el-input>
			</el-form-item>

		</el-form>
		<span slot="footer" class="dialog-footer">
            			<el-button  @click="addmoudleVisible = false">取 消</el-button>
            			<el-button type="primary" @click="addmoudle()">确 定</el-button>
          			</span>
		</el-dialog>


		<el-dialog title="修改模块" :visible.sync="updatemoudleVisible" width="40%">
			<el-form  name="updateinfo" id="updateinfo" ref="updateinfo"  :model="addmoudleinfo" label-width="100px">
				</el-form-item>
				<el-form-item label="模块名称">
					<el-input v-model="updateinfo.moudlename" placeholder="请输入模块名称" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>

				<el-form-item label="负责人" >
					<el-input v-model="updateinfo.moudlechargename" placeholder="请输入负责人姓名" clearable :style="{width: '100%'}">
					</el-input>
				</el-form-item>

			</el-form>
			<span slot="footer" class="dialog-footer">
            			<el-button  @click="updatemoudleVisible = false">取 消</el-button>
            			<el-button type="primary" @click="updatemoudle()">确 定</el-button>
          			</span>
		</el-dialog>

		<!-- ------------- 分页 ------------- -->
		<div class="page-box">
			<el-pagination background
						   layout="total, prev, pager, next, sizes, jumper"
						   :current-page.sync="pageNo"
						   :page-size.sync="pageSize"
						   :total="dataCount"
						   :page-sizes="[1, 5, 10, 20, 30, 40, 50]"
						   @current-change="handleCurrentChange"
						   @size-change="handleSizeChange">
			</el-pagination>
		</div>
	</div>

</div>
<script src="project-list.js"></script>
</body>
</html>
