<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.zyz.demo.mapper.TprCaseMapper">


    <select id="getcaselist" resultType="map">
        SELECT tprmoudle.moudlename,tprmoudle.moudle_id,COUNT(*) as casenumber  from tprcase,tprmoudle WHERE  tprcase.projectBy=tprmoudle.moudle_id GROUP BY tprmoudle.moudle_id
    </select>
    <select id="getcaselistByname" resultType="java.util.Map">
        select tprcase.casestatus,tprmoudle.moudlename,COUNT(*) as number FROM tprmoudle,tprcase where tprmoudle.moudle_id=tprcase.moudleBy and
        tprmoudle.parentid in
        (SELECT moudle_id from tprmoudle WHERE tprmoudle.moudlename=#{projectname}
        )
        GROUP BY tprmoudle.moudlename,tprcase.casestatus
    </select>
    <select id="getcaserunlist" resultType="java.util.Map">
        select tprmoudle.moudlename,COUNT(*) AS number FROM tprtestrun,tprcase,tprmoudle where tprcase.case_id=tprtestrun.case_id AND tprcase.projectBy=tprmoudle.moudle_id
        GROUP BY moudlename
    </select>

    <select id="getcaserunresultlistByname" resultType="java.util.Map">
        SELECT tprtestrun.lastRunResult,tprmoudle.moudlename,COUNT(*) as number FROM tprcase,tprtestrun,tprmoudle WHERE tprtestrun.case_id=tprcase.case_id AND tprcase.moudleBy=tprmoudle.moudle_id AND tprcase.projectBy in
        (SELECT moudle_id from tprmoudle WHERE tprmoudle.moudlename=#{projectname}
        )
        GROUP BY lastRunResult,moudlename
    </select>
    <select id="getuserCount" resultType="java.lang.Integer">
        select COUNT(*) from tpruser
    </select>
    <select id="getallcaseCount" resultType="java.lang.Integer">
        select COUNT(*) from tprcase
    </select>
    <select id="getallbugrCount" resultType="java.lang.Integer">
        select COUNT(*) from tprbug
    </select>
    <select id="getsolvedbugCount" resultType="java.lang.Integer">
        select COUNT(*) from tprbug WHERE tprbug.bugstatus='已解决'
    </select>


</mapper>