<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.zyz.demo.mapper.TprProjectMapper">


    <select id="getmoudleinfo" resultType="com.zyz.demo.pojo.moudleinfo">
        select tpruser.name,tprmoudle.* from tpruser,tprmoudle where tprmoudle.moudlecharge=tpruser.user_id
    </select>
    <select id="findtypeBymoudlename" resultType="com.zyz.demo.pojo.moudleinfo">
        select tpruser.name,tprmoudle.* from tpruser,tprmoudle where tprmoudle.moudlecharge=tpruser.user_id and moudlename like CONCAT('%','${moudlename}','%')
    </select>
    <select id="findBymoudlenameid" resultType="java.lang.String">
        select moudle_id from tprmoudle WHERE moudlename like CONCAT('%','${moudlename}','%')
    </select>
    <select id="getsingleproject" resultType="com.zyz.demo.pojo.moudleinfo">
        select tpruser.name,tprmoudle.* from tpruser,tprmoudle where tprmoudle.moudlecharge=tpruser.user_id AND moudle_id=#{moudleid}
    </select>


    <insert id="addmoudle" parameterType="map" >
        insert into tprmoudle (moudlename,moudlecharge,parentid,moudleopentime,moudlestatus,type)
        values(#{moudlename},#{moudlecharge},#{parentid},#{moudleopentime},#{moudlestatus},#{type});
    </insert>
    <delete id="deletemoudle">
        delete from tprmoudle where moudle_id=#{moudleid} or parentid=#{moudleid}
    </delete>
    <update id="updatemoudle" parameterType="map">
        update tprmoudle set moudlename=#{moudlename},moudlecharge=#{moudlecharge} where moudle_id=#{moudleid}
    </update>
</mapper>